/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rotate {
    transform: rotate(0deg) !important;
    margin-top: .9rem;
}

.rotate_2 {
    transform: translateY(7px) rotate(0deg) !important;
    margin-top: .0;
}

/* ! Especialy For Pop-Ups*/
@media (max-width: 893.9px) {
    nav .container-xxl .click_2 .collapse {
        left: -95% !important;
        max-width: 550px !important;
    }

    nav .container-xxl .click_2 .collapse ul {
        padding: 45px 30px !important;
    }

    nav .container-xxl .click_2 .collapse ul li {
        width: 250px !important;
    }
}

@media (max-width: 545.9px) {
    nav .container-xxl .click_2 .collapse {
        max-width: 450px !important;
    }

    nav .container-xxl .click_2 .collapse ul {
        padding: 45px 25px !important;
    }

    nav .container-xxl .click_2 .collapse ul li {
        width: 250px !important;
    }
}

/* ! Especialy For Pop-Ups */


/* Meduim Screen */
@media (max-width: 991.9px) {
    nav .parent {
        flex-direction: column-reverse !important;
    }

    nav .departments {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}

/* Small Screen */
@media (max-width: 767px) {
    nav .parent form label {
        flex: 1 2;
        padding-left: 10px !important;
        padding-right: 10px !important;
        justify-content: center;
    }

    nav .parent form input {
        flex: 1 1 !important;
    }
}

@media (max-device-width: 500px) {
    .modal-header h5 {
        font-size: 18px !important;
        font-weight: 900 !important;
    }
}

/* X-Small Screen */
@media (max-width: 400px) {
    .modal-header h5 {
        font-size: 15px !important;
        font-weight: 900 !important;
    }

    .modal-body {
        padding: 20px 15px;
    }

    .modal-body .media {
        flex-direction: column;
    }

    .modal-body div {
        margin-bottom: 0 !important;

        h4 {
            padding-bottom: 0 !important;
        }
    }

    .modal-body button {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }

    .modal-body div:nth-child(2) div {
        gap: 10px !important;
    }
}